body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .hero-container {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 2rem;
    text-align: center;
  }
  
  .hero-title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .main {
    padding: 2rem;
  }
  
  .projects-cta {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .about-me-section {
    margin-top: 2rem;
  }
  
  .section-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .pie-chart-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .about-curriculum-section {
    background-color: #333;
    color: #fff;
    padding: 2rem;
    text-align: center;
    margin-top: 2rem;
  }
  
  .about-curriculum-links {
    margin-top: 1rem;
  }
  
  .about-curriculum-link {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 1rem;
    text-decoration: none;
  }
  
  .contact-section {
    background-color: #f2f2f2;
    padding: 2rem;
    text-align: center;
    margin-top: 2rem;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  
  .contact-form-input,
  .contact-form-textarea {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 50%;
  }
  
  .contact-form-textarea {
    height: 8rem;
    resize: none;
  }
  
  .contact-form-button {
    background-color: #333;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 1.5rem;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    }
    
    .carousel-slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
    
    .carousel-slide h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    }
    
    .carousel-slide p {
    font-size: 1.6rem;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    }
    
    .carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    }
    
    .carousel-dot {
    width: 1rem;
    height: 1rem;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 1rem;
    cursor: pointer;
    }
    
    .carousel-dot.selected {
    background-color: #333;
    }
    
    .carousel-button {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 3rem;
    font-size: 1.6rem;
    cursor: pointer;
    margin-right: 2rem;
    }
    
    .carousel-button:hover {
    background-color: #fff;
    color: #333;
    }
    
  