*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
/* header style */

.header{
  width: 100%;
  height:80px;
  display: block;
  background-color: #101010;
}
.inner_header{
  width: 90%;  /* TODO- hamburger meny for width <540px*/
  height: 100%;
  display: block;
  margin: 0 auto;
  /* background-color: gray; for testing */
}
.logo_container{
  height: 100%;
  display: table;
  float: left;
}
.logo_container h1{
  color: #fff;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 200;
}
.logo_container h1 span{
  font-weight: 800;
}
.navigation{
  height: 100%;
  float: right;
}
.navigation a{
  height: 100%;
  display: table;
  float: left;
  padding: 0 20px;
}
.navigation a:last-child{
  padding-right: 0;
} 
.navigation a li{
display: table-cell;
vertical-align: middle;
height: 100%;
color: #fff;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
}

/* card style */
.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f9f9f9;
}
.card_container h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.33rem;
  font-weight: 800;
  color: #101010;
  padding: 1rem;
}
.card {
    font-family: 'Montserrat', sans-serif;
    width: 20rem;
    height: 26.67rem;
    border: 1px solid #ddd;
    border-radius: 1rem;
    background-color: #f9f9f9;
    margin: 1.33rem;
    padding: 1.33rem;
    box-sizing: border-box;
    float: left;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
  }
  .card h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.33rem;
    font-weight: 200;
    color: #101010;
    margin-bottom: 1.33rem;
  }
  
  .card-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
    padding-bottom: 1rem;
  }
  
  .card-links a {
    margin-top: 1rem;
    display: inline-block;
  }
  /* Theme 1 - Red */
.theme-1 .card_container {
  background-color: #ffcccc;
  }
  
  .theme-1 .card {
  border: 1px solid #ff0000;
  background-color: #ffcccc;

  }
  
  /* Theme 2 - Yellow */
  .theme-2 .card_container {
  background-color: #ffffcc;
  }
  
  .theme-2 .card {
  border: 2px solid #ffff00;
  background-color: #ffffcc;
  }
  
  /* Theme 3 - Blue */
  .theme-3 .card_container {
  background-color: #ccccff;
  }
  
  .theme-3 .card {
  border: 3px solid #0000ff;
  background-color: #ccccff;

  }

  /*footer styling*/

.footer{
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 70px 0;
  box-sizing: border-box;
  background-color: #101010;
}
.inner_footer{
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.inner_footer .logo_container{
  width: 35%;
  float: left;
  height: 100%;
  display: block;

}
.inner_footer .logo_container img{
  width: 65px;
  height: auto;
}

.inner_footer .footer_third{
  width: calc(21.6666666667 -20px);
  margin-right: 50px;
  float:left;
  height: 100%;
}
.inner_footer .footer_third:last-child{
  margin-right: 0;
}
.inner_footer .footer_third h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.inner_footer .footer_third a{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.inner_footer .footer_third li{
  display: inline-block;
  padding: 0 5px;
  font-size: 20px;
}
.inner_footer .footer_third span {
  color :white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 200;
  display: block;
  width: 100%;
  padding-top: 20px;
}

@media screen and (max-width: 600px){
  /*causes footer to stack on top of each other*/
  .footer .inner_footer{
    width: 90%;
  }
  .inner_footer .logo_container,
  .inner_footer .footer_third{
    width: 100%;
   margin-bottom: 30px;
  }
}
  
